body {

    background-color: black;
    color: white;
    
}

.container {
    border: 2px solid red;
    background-color: rgb(48, 46, 46,0.815);
    width: 80%;
    margin: auto;
    border-radius: 20px;
    


}

.heading {
    font-family: 'Lobster', cursive;
    text-align: center  ;   
    color:white;
    font-size: 80px;
    
}

#title {
    font-size: 120px;
}
#img-div {
text-align: center;

}

#image {

    width: 400px;
    border-radius: 40px;
}

.heading1{
   /* width: 80%;
   margin: auto; */
   color: red;
   margin-left: 10%;
    font-family: 'Lobster', cursive;
    }

    ul{
        width: 80%;
        margin: auto;
    }
    li{
        font-size: 24px;
        line-height: 3rem;
    }

#info {

    width: 80%;
    margin: 15px auto;
    text-align: justify;
}

#footer {
    
        margin: 2rem;
        padding: 2rem;
        text-align: center;
        font-size: 2rem;
 
}

#link {

    text-decoration: none;
    color: white;
    border: 2px solid darkorange;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;

}

#link:hover {

    background-color: gray;
    color: red;
}